@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}
h1 {
  font-family: "Inter", sans-serif;
  font-size: clamp(36px, 12vw, 66px);
  font-weight: 700;
  z-index: 0 !important;
}
h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(22px, 6vw, 36px);
  font-weight: 500;
  letter-spacing: 2px;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(18px, 4vw, 28px);
  font-weight: 500;
}
header {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}
.header-content {
  width: 100vw;
  height: 85vh;
  display: flex;
  gap: 20vh;
  padding: 0 0 12vh 8vw;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 770px) {
    padding: 0 0 15vh 0;
    align-items: center;
  }
  h1 {
    z-index: 1 !important;
  }
  h2 {
    @media (max-width: 770px) {
      align-items: center;
    }
  }
}
.wavevideo {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  object-fit: cover;
  top: 0;
  z-index: -1;
}
#home {
  @include flex(column);
  align-items: center;
}

#clients {
  width: 80vw;
  height: 100vh;
  overflow: hidden;
  @include flex(column);
  align-items: center;
  justify-content: space-between;
  h3 {
    text-align: center;
    margin-top: 20vh;
  }
  .client-logos {
    @include flex(row);
    gap: 0 5vw;
    @media (max-width: 770px) {
      flex-direction: column;
    }
    padding: 5vh 0;
    div {
      @include flex(row);
      gap: 5vw;
    }
  }
  .starvideo {
    width: 65%;
    @media (max-width: 770px) {
      width: 80vw;
    }
  }
}
#services {
  width: 80vw;
  height: 100vh;
  @include flex(row);
  align-items: center;
  justify-content: center;
  .scroll-container {
    width: 80vw;
    top: 50%;
    left: 50%;
    .main-points {
      @include flex(row);
      width: 80vw;
      align-items: center;
      justify-content: space-between;
      .main-points-div {
        display: flex;
        flex-direction: row;

        .dotted-star {
          width: 80px;
          object-fit: contain;
        }
      }
    }
  }
}
.star-img {
  position: absolute;
  width: 50px;
  left: 70vw;
  top: 60vh;
}
.section1,
.section2,
.section3,
.section4 {
  height: 100vh;
  width: 100vw;
}
.theme-background-animation {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}
.theme-background {
  background: rgb(234, 109, 10);
  background: -moz-linear-gradient(
    145deg,
    rgba(234, 109, 10, 1) 0%,
    rgba(241, 196, 45, 1) 33%,
    rgba(241, 159, 36, 1) 80%,
    rgba(232, 174, 24, 1) 100%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(234, 109, 10, 1) 0%,
    rgba(241, 196, 45, 1) 33%,
    rgba(241, 159, 36, 1) 80%,
    rgba(232, 174, 24, 1) 100%
  );
  background: linear-gradient(
    145deg,
    rgba(234, 109, 10, 1) 0%,
    rgba(241, 196, 45, 1) 33%,
    rgba(241, 159, 36, 1) 80%,
    rgba(232, 174, 24, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea6d0a",endColorstr="#e8ae18",GradientType=1);
}
.theme-background-secondary {
  background: rgb(241, 159, 36);
  background: -moz-linear-gradient(
    145deg,
    rgba(241, 159, 36, 1) 9%,
    rgba(241, 196, 45, 1) 39%,
    rgba(234, 109, 10, 1) 76%,
    rgba(232, 174, 24, 1) 100%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(241, 159, 36, 1) 9%,
    rgba(241, 196, 45, 1) 39%,
    rgba(234, 109, 10, 1) 76%,
    rgba(232, 174, 24, 1) 100%
  );
  background: linear-gradient(
    145deg,
    rgba(241, 159, 36, 1) 9%,
    rgba(241, 196, 45, 1) 39%,
    rgba(234, 109, 10, 1) 76%,
    rgba(232, 174, 24, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f19f24",endColorstr="#e8ae18",GradientType=1);
}
.five-pointed-star {
  --star-color: #f88406;
  margin: 1em auto;
  font-size: 5em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
  position: absolute;
  left: 70vw;
  top: 60vh;
}
.five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.five-pointed-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}
.five-pointed-starleft {
  --star-color: #f88406;
  margin: 1em auto;
  font-size: 3.5em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
  position: absolute;
  left: 70vw;
  top: 60vh;
}
.five-pointed-starleft:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.five-pointed-starleft:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}
.five-pointed-starright {
  --star-color: #f88406;
  margin: 1em auto;
  font-size: 3.5em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
  position: absolute;
  left: 70vw;
  top: 60vh;
}
.five-pointed-starright:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.five-pointed-starright:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}
